@use '../../styles/variables' as *;

.lista-resumo-financeiro {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    margin-bottom: 1rem;
}

.lista-resumo-financeiro > div {
    flex: 1 1 calc(20% - 1rem); 
    width: calc(20% - 1rem);   
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: $white-color;
}

.lista-resumo-financeiro .card-extra {
    display: inline-flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lista-resumo-financeiro .card-extra span {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: $dark-color;
    color: $white-color;
    margin-bottom: 1rem;
}

.lista-resumo-financeiro .card-extra h3 {
    font-size: $font-lg;
    color: $dark-color;
    font-weight: bold;
}

.cartoes-lista-compras {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

}
